#side {
    position: absolute;
    left: 770px;
    top: 5px;
    width: 300px;
    user-select:text;
    height: 800px;
}
#side>*{
    margin: 5px;
}
#results {
    height: 425px;
    overflow-y: auto;
}
#results>li {
    user-select: all;
    font-size: large;
}

#stars {
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    width: 750px;
    height: 750px;

}
#stars>*{
    width: 36px;
    height: 36px;
    position:absolute;
    border-radius: 100%;
    z-index: 1;
}
#lines {
    position:absolute;
    top:0;
    left:0;
    width: 1px;
    height: 1px;
    overflow: visible;
    stroke:aliceblue;
    stroke-width: 2px;
}
#star-buttons {
    width: 750px;
    display: flex;
    flex-direction: row;
    border: 1px solid aliceblue;
    border-bottom: none;
    margin-top: 5px;
}
#star-buttons>button{
    border: none;
    flex-grow: 1;
    height: 40px;
    font-size: x-large;
}

h1 {
    display: inline;
    font-size: 40px;
}
#solve-area {
    position: absolute;
    top: 750px;
    left: 375px;
    font-size: xx-large;
    background-color:aliceblue;
    color: black;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
    height: 40px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

html {
    user-select: none;
    color: aliceblue;
    background-color: #0c090a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}