.blur {
    filter: blur(2px);
    transition: filter 0.2s ease-in;
}
.blur-removing {
    filter: blur(0px);
}


#open-image-modal {
    width: 95%;
    height: 35px;
    color: var(--white-color);
    background-color: #141414;
    border: var(--white-color) 1px solid;
    font-size: larger;
    transition: 0.2s;
}
#open-image-modal:hover {
    background-color: #090909;
}

#image-modal {
    margin: 0px;
    padding: 8px;
    
    width: 600px;
    height: 400px;
    position: absolute;
    left: calc(50% - (600px/2));
    top: 50px;
    
    background-color: #0c090a;
    border: var(--white-color) 1px solid;
    
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
#image-modal[open] {
    opacity: 1;
}
#image-modal > * {
    color: var(--white-color);
    margin: 0px;
    text-align: center;
}
#image-modal > div {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image-modal > div > * {
    margin: 0px;
    margin-top: 7px;
}
#image-modal > div > p {
    width: 60%;
}

#upload-area {
    width: 80%;
    height: 80%;
    margin-top: 20px;
    border: gray dashed 2px;
}
#modal-image-uploader { display: none; }

#close-image-modal {
    background-color: #141414;
    color: var(--white-color);
    border: var(--white-color) 1px solid;
    padding: 0px;
    width: 32px;
    height: 32px;
    
    position: absolute;
    right: 8px;
    top: 8px;
}
#close-image-modal:hover {
    background-color: #090909;
}